.heroe{
    text-align: center;
    min-height: 1000px;
    background: CornflowerBlue;
    color: whitesmoke;
    box-sizing: border-box;
    padding: 40px;
    background-position: center !important;
    background-size: cover !important;
}
.heroe h3, .heroe h4{
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.heroe #botones{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.heroe button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding-right: 100px;
    font-size: inherit;
    font-family: inherit; 

}
#bloqueheroe{
    margin-top: 500px;
}
#bloqueheroe a{
    text-decoration: none;
    color:inherit;
}
.heroe button.learn-more {
    width: 12rem;
    height: auto;
}

.heroe button.learn-more .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
display: block;
margin: 0;
width: 3rem;
height: 3rem;
background: #e47885;
border-radius: 1.625rem;
box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.heroe button.learn-more .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
bottom: 0;
margin: auto;
background: #fff;
}

.heroe button.learn-more .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
left: 0.625rem;
width: 1.125rem;
height: 0.125rem;
background: none;
}

.heroe button.learn-more .circle .icon.arrow::before {
position: absolute;
content: "";
top: -0.29rem;
right: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-top: 0.125rem solid #fff;
border-right: 0.125rem solid #fff;
transform: rotate(45deg);
}

.heroe button.learn-more .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 13px;
left: 0;
right: 0;
bottom: 0;
margin: 0 0 0 1.85rem;
text-shadow: 0px 2px 4px rgba(0,0,0,0.3) ;
color: #e47885;
font-weight: 700;
line-height: 1.6;
text-align: center;
text-transform: uppercase;
}

.heroe button.learn-more:hover .circle {
    width: 12rem;
}
.heroe button.learn-more:hover .circle .icon.arrow {
background: #fff;
transform: translate(1rem, 0);
}

.heroe button.learn-more:hover .button-text {
color: #fff;
}